.pc{display: none;}
.m{display: block;}

@font-face {
    font-family: 'NanumSquareNeoLight';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoExtraBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoHeavy';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoVariable';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.ttf) format("truetype");
}

#wrapper{max-width: 1920px; margin: 0 auto; min-width: 320px; }


header{
    position: relative;
    z-index: 99999;
}
header .wrap{
    width: 100%;
    height: 58px;
    border-bottom:1px solid #000 ;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 0 16px;
}
header .headerTop{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header .wrap h1 a img{
    height: 37px;
}
header .wrap .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
header .wrap .langE{
    font-size: 16px;
    font-weight: bolder;
    /* position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%); */
    
}
header .wrap .langK a{
    display: none;
}
header .wrap .btn-search button img{
    height: 33px;
} 
.btn-open{
    position: relative;
    width: 28px;
    height: 16px;
    cursor: pointer;
  }
.btn-open .line{
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: #222;
  left: 0;
}
.btn-open .line:first-child{
  top: 0;
  transform-origin: 25% 50%;
  transition: .3s;
}
.btn-open .line:nth-child(2){
  top: calc(50% - 1px);
}
.btn-open .line:last-child{
  bottom: 0;
  transform-origin: 25% 50%;
  transition: .3s;
}
.btn-open.open .line:first-child{
  transform: rotate(45deg) translateX(10%);
}
.btn-open.open .line:nth-child(2){
  opacity: 0;
}
.btn-open.open .line:last-child{
  transform: rotate(-45deg) translateX(10%);
}
header .wrap .gnb{
    background-color: #fff;
    position: fixed;
    top: 58px;
    left: -100%;
    width: 100%;
    height: calc(100% - 58px);
    display: flex;
    flex-direction: column;
    z-index: 99999;
    overflow: scroll;
    
}
header .gnb .icon{
    width: 100%;
    display: flex;
    padding: 20px;
    margin: 0 auto;
    justify-content: center;
    border-bottom: 1px solid #a7a7a7;
    margin-bottom: 15px;
}
header .gnb .navi-ico{
    margin-right: 30px;
}
header .gnb .navi-ico button a span{
    border: 2px solid #a7a7a7;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: inline-block;
    padding-top: 11px;
    border-radius: 10px;
    color: #757575;
    margin-bottom: 1px;
}
header .gnb .navi-ico button a p{
    font-weight: bold;
    font-family: 'NanumSquareNeo';
    margin-top: 10px;
}
header .wrap .gnb .navi .tit{
    position: relative;
    height: 54px;
    border-bottom: 1px solid #a7a7a7;
    display: flex;
    align-items: center;
    background-color: #fff;
}
header .wrap .gnb .navi:last-child .tit{
    border-bottom: 1px solid #000;
}
header .wrap .gnb .navi:hover .tit::after{
    transform: translateY(-50%) rotate(-45deg);
}
header .wrap .gnb .navi .tit::after{
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-top:2px solid#000;
    border-right:2px solid#000;
    transform: translateY(-50%) rotate(135deg);
    position: absolute;
    right: 20px;
    top: 50%;
}
header .wrap .gnb .navi .tit:last-child::after{
    display: none;
}
header .wrap .gnb .navi .tit button{
    font-size: 21px;
    font-weight: bolder;
    margin-left: 15px;
    font-family: 'NanumSquareNeo';
} 
.reserve{
    border: 2px solid #000;
    padding: 5px;
    border-radius: 40px;
    width: 70%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    font-family: 'NanumSquareNeo';
}
.reserve a{
    font-size: 21px;
    font-weight: bolder;
}
header .wrap .gnb .navi .sub-navi{
    background-color: #f0f1f6;
    display: none;
    width: 100%;
}  
header .wrap .gnb .navi .sub-navi .list{
    font-size: 18px;
    padding-top: 15px ;
    padding-bottom:15px ;
    padding-left: 40px;
    font-weight: bolder;
    font-family: 'NanumSquareNeo';
}  
.banner{
    margin-bottom: 50px;
    margin-top: 58px;
}

.banner .wrap{
    padding: 20px 16px;
}
.banner .wrap .con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner .wrap .con .con_name{
    display: none;
    font-family: 'NanumSquareNeo';
}
.banner .wrap .con .thumb{
    position: relative;
}
.banner .wrap .con .thumb::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0,0,0,0.8));
    position: absolute;    
    top: 0;
    left: 0;
}
.banner .wrap .con .thumb .image img{width: 100%;}
.banner .wrap .con .thumb .txt{
    width: 340px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 20px;
}
.banner .txt .b{
    display: none
}
.banner .date .b{
    display: none;
}
.banner .wrap .con .thumb .txt .tit{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
    font-family: 'NanumSquareNeo';
    line-height: 24px;
}
.banner .wrap .con .thumb .txt .date{
    color: #fff;
    /* font-size: 11px; */
    font-size: 14px;
    font-family: 'NanumSquareNeo';
}
.banner .wrap .con .subInfo{
    width: 100%;
}
.banner .wrap .con .txt-box{
    display: flex;
    width: 100%;
    padding: 20px 0;
    gap: 10px;
}
.banner .wrap .con .txt-box .box1,
.banner .wrap .con .txt-box .box2{
    border: 1px solid #000;
    height: 67px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner .wrap .con .txt-box .box1 a,
.banner .wrap .con .txt-box .box2 a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67px;
    margin-left: 15px;  
}
.banner .wrap .con .txt-box .box1 a p,
.banner .wrap .con .txt-box .box2 a p{
    font-weight: bolder;
    color: #4B4949;
    font-size: 18px;
    font-family: 'NanumSquareNeo';
}
.banner .wrap .con .txt-box .box1 a img,
.banner .wrap .con .txt-box .box2 a img{
    width: 50px;
    padding-left: 10px;
}
.banner .wrap .con .info{
    width: 100%;
}
.banner .wrap .con .info .time,
.banner .wrap .con .info .ticket,
.banner .wrap .con .info .calendar
{
    display: flex;
    position: relative;
    margin-top: 10px;
}
.banner .wrap .con .info .time img,
.banner .wrap .con .info .ticket img,
.banner .wrap .con .info .calendar img{
    width: 35px;
    height: 35px;
    position: absolute;
    left: 0;
}
.banner .wrap .con .info .time .txt,
.banner .wrap .con .info .ticket .txt,
.banner .wrap .con .info .calendar .txt{
    margin-left: 60px;
}
.banner .wrap .con .info .time .txt h2,
.banner .wrap .con .info .ticket .txt h2,
.banner .wrap .con .info .calendar .txt h2{
    font-size: 16px;
    font-family: 'NanumSquareNeo';
}
.banner .wrap .con .info .time .txt .sub,
.banner .wrap .con .info .calendar .txt .sub{
    display: flex;
    justify-content: space-between;
}
.banner .wrap .con .info .time .txt .sub h3,
.banner .wrap .con .info .ticket .txt h3,
.banner .wrap .con .info .calendar .txt .sub h3{
    font-size: 13px ;
    font-family: 'NanumSquareNeo';
    margin-top: 5px;
}
.banner .wrap .con .info .time .txt .sub p,
.banner .wrap .con .info .calendar .txt .sub p{
    font-size: 11px;
    color: #787876 ;
    position: absolute;
    right: 0;
    font-family: 'NanumSquareNeo';
}
.section1{
    padding: 20px 16px;
    position: relative;
    height: 100%;
    margin-bottom: 50px;
}
.section1>.wrap{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
.section1 .wrap .Tit{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Eng{
    display: none;
}
.section1 .wrap .Tit h2{
    font-size: 24px;
    font-weight: bolder;
    font-family: 'NanumSquareNeo';
}
.section1 .wrap .Tit .btn-more{
    position: relative;
    padding-right: 10px;
    display: flex;
}
.section1 .wrap .Tit .btn-more a{
    font-family: 'NanumSquareNeo';
}
.section1 .wrap .Tit .btn-more::after{
    position: absolute;
    right: 0;
    top:5px;
    width: 10px;
    height:10px;
    content: '';
    transform:rotate(225deg);
    border-bottom: 1px solid #000; 
    border-left: 1px solid #000; 
}
.section1 .wrap .exhibition .exh{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section1 .wrap .exhibition .exh .thumb{
    width: 75%;
    margin: 0 auto;

}
.section1 .wrap .exhibition .exh .title{
    margin-bottom: 20px;
}
.section1 .wrap .exhibition .exh .title h3{
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    font-family: 'NanumSquareNeo';
}
.section1 .wrap .exhibition .exh .con{
    height:500%;  
    position: relative;
}
.section1 .wrap .exhibition .exh .con .tab{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    gap: 20px;
}
/* .section1 .wrap .exhibition .exh .con .tab li{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 7px solid #d9d9d9;
    
} */
.section1 .wrap .exhibition .exh .con .tab li:nth-child(1){
    border-bottom: 7px solid #000;
}
.section1 .wrap .exhibition .exh .con .tab button{
    font-weight: bolder;
    font-size: 18px;
    font-family: 'NanumSquareNeo';
    cursor: pointer;
    
}

.section1 .wrap .exhibition .exh .con .txt .information{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.section1 .wrap .txt .information .info1 h4,
.section1 .wrap .txt .information .info2 h4,
.section1 .wrap .txt .information .info3 h4{
    color: #757575;
    font-weight: bolder;
    font-size: 16px;
    font-family: 'NanumSquareNeo';
}
.section1 .wrap .exhibition .exh .txt .information .info1 P,
.section1 .wrap .exhibition .exh .txt .information .info2 P{
    position: absolute;
    left: 80px;
    text-wrap: nowrap;
    font-size: 16px;
    font-family: 'NanumSquareNeo';
    
}
.section1 .wrap .exhibition .exh .txt .information .info3 P{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    position: absolute;
    left: 80px;
    top: 106px;
    font-size: 16px;
    font-family: 'NanumSquareNeo';
    line-height: 20px;
}
.section1 .wrap .exhibition .exh .txt .intro{
    display: none;
    margin-bottom: 33px;
}
.section1 .wrap .exhibition .exh .txt .intro .intro1{
    font-size: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
    width: 95%;
    margin: 0 auto;
    font-family: 'NanumSquareNeo';
    line-height: 20px;
}
.section1 .swiper-pagination-bullet-active{
    background-color: #000;
}
.swiper-button-next::after{
    display: none;
}
.swiper-button-prev::after{
    display: none;
}
.section2{
    padding: 20px 16px;
}
.section2 .swiper{
    width: 100%;
    height: 100%;
}
.section2 .wrap .Tit{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section2 .wrap .Tit h2{
    font-size: 24px;
    font-weight: bolder;
    font-family: 'NanumSquareNeo';
}
.section2 .btn_more button a p{
    font-size: 25px;
    font-weight: bolder;
}
.section2 .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: auto;
}
.section2 .wrap{
    position: relative;
    width: 100%;
    height: 100%;
}

.section2 .wrap .btn-more{
    display: inline;
    position: absolute;
    top: 1%;
    right: 2%;
    transform: translateY(-1%);
    padding-right: 10px;
}
.section2 .wrap .btn-more a{
    font-family: 'NanumSquareNeo';
}
.section2 .wrap .btn-more::after{
    position: absolute;
    right: 0;
    top:30%;
    width: 10px;
    height:10px;
    content: '';
    transform:rotate(225deg);
    border-bottom: 1px solid #000; 
    border-left: 1px solid #000; 
}
.section2 .wrap .slide{
    display: flex;
}
.section2 .wrap .slide .col a img{
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section2 .swiper-pagination-bullet-active{
    background-color: #000;
}
.section2 .wrap .slide .col a h3{
    font-size: 20px;
    font-family: 'NanumSquareNeo';
}
.section2 .wrap .slide .col a p{
    font-size: 16px;
    font-weight: bold;
    font-family: 'NanumSquareNeo';
    margin-top: 8px;
}
.section3{
    margin: 50px 0;
    width: 100%;
}
.section3 .wrap{
    height:150px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/book_land.jpg);
    background-attachment:fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.section3 span{
    display: none;
}
.section3 .wrap h1{
    color: #fff;
    font-size: 14px;
    font-weight:300;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'NanumSquareNeo';
}
.section3 .wrap h2{
    color: #fff;
    font-size: 25px;
    margin-bottom: 15px;
    font-family: 'NanumSquareNeo';
}
.section3 .viewMore .pc{
    display: none;
    font-family: 'NanumSquareNeo';
} 
.section3 .wrap p{
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    font-size: 12px;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: 'NanumSquareNeo';
}
.section4{
    padding: 20px 16px;
    position: relative;
    margin-bottom: 50px;
}
.section4 .wrap{
    position: relative;
}
.section4 .name .Eng{
    display: none;
}
.section4 .wrap .Tit{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}
.section4 .wrap .Tit .Tit h2{
    font-size: 24px;
    font-weight: bolder;
    font-family: 'NanumSquareNeo';
}
.section4 .wrap .Tit .btn-more{
    position:relative;
    padding-right: 10px;
    display: flex;
    text-align: center;
}
.section4 .wrap .Tit .btn-more a{
    font-family: 'NanumSquareNeo';
}
.section4 .wrap .btn-more::after{
    position: absolute;
    right: 0;
    top:5px;
    width: 10px;
    height:10px;
    content: '';
    transform:rotate(225deg);
    border-bottom: 1px solid #000; 
    border-left: 1px solid #000; 
}
.section4 .wrap .slide .contents{
    margin-bottom: 50px;
}
.section4 .wrap .slide .contents .pro{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.section4 .wrap .slide .contents .pro a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section4 .wrap .slide .contents .pro img{
    width: 100%;
    display: flex;
}
.section4 .wrap .slide .contents .pro .txt{
    width: 110%;
    padding: 10px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section4 .wrap .slide .contents .pro .txt h3{
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'NanumSquareNeo';
}
.section4 .wrap .slide .contents .pro .txt .detail{
    display: none;
    font-family: 'NanumSquareNeo';
}
.section4 .wrap .slide .contents .pro .txt p{
    font-size: 13px;
    text-align: center;
    display: flex;
    font-family: 'NanumSquareNeo';
}
.section4 .swiper-pagination-bullet-active{
    background-color: #000;
}
.section5{
    padding: 20px 16px;
   margin-bottom: 50px;
}
.section5 .wrap{
    position: relative;
    width: 100%;
    height: 100%;
}
.section5 .wrap .edu_pc{
    display:none;
}
.section5 .wrap .Tit{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section5 .wrap .Tit h2{
    font-size: 24px;
    font-weight: bolder;
    font-family: 'NanumSquareNeo';
}
.section5 .wrap .Tit .btn-more{
   position: relative;
   padding-right: 10px;
   display: flex;
   text-align: center;
}
.section5 .wrap .Tit .btn-more a{
    font-family: 'NanumSquareNeo';
}
.section5 .wrap .Tit .btn-more::after{
    position: absolute;
    right: 0;
    top:5px;
    width: 10px;
    height:10px;
    content: '';
    transform:rotate(225deg);
    border-bottom: 1px solid #000; 
    border-left: 1px solid #000; 
}
.section5 .wrap .swiper{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.section5 .wrap .contents{
    position: relative;
    width: 80%;
    height: auto;
    overflow:hidden;
    margin: 0 auto;
}
.section5 .wrap .con{
    margin: 0 auto;
}
.section5 .wrap .con .cont{
    position: relative;
    width: 75%;
    height: 100%;
    display: block;
    object-fit: cover;
    margin-bottom: 50px;
}
.section5 .wrap .con .cont::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0,0,0,0.6));
    position: absolute;    
    top: 0;
    left: 0;
    margin: 0 auto;
}
.section5 .wrap .con .cont:nth-child(4) img{
    height: 20%;
}
.section5 .wrap .con .cont img{
    width: 100%;
    height: 100%;
}
.section5 .wrap .con .cont .txt{
    position: absolute;
    top: 90%;
    left: 50%;
    z-index: 9999;
    width: 90%;
    transform: translate(-50%,-90%);
    color: blueviolet;
}
.section5 .wrap .con .cont .txt h3{
    font-size: 16px;
    color: #fff;
    margin-bottom: 8px;
    z-index: 9999;
    font-family: 'NanumSquareNeo';
}
.section5 .wrap .con .cont .txt p{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: 'NanumSquareNeo';
}
.section5 .wrap .con .cont .txt .pro1{
    display: none;
    font-family: 'NanumSquareNeo';
}
.section5 .wrap .con .cont .txt .pro2{
    display: none;
    font-family: 'NanumSquareNeo';
}
.section5 .swiper-pagination-bullet-active{
    background-color: #000;
}
.section6{
    padding: 20px 16px;
}
.section6 .wrap{
    position: relative;
}

.tabnumber{
    display: none;
}
.section6 .txt4,
.section6 .txt5{
    display: none;
}
.section6 .wrap .Tit{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
}
.section6 .wrap .btn-more{
    position: relative;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    text-align: center;
}
.section6 .wrap .btn-more a{
    font-family: 'NanumSquareNeo';
}
.section6 .wrap .btn-more::after{
    position: absolute;
    right: 0;
    top:5px;
    width: 10px;
    height:10px;
    content: '';
    transform:rotate(225deg);
    border-bottom: 1px solid #000; 
    border-left: 1px solid #000; 
}
.section6 .wrap .infoTab{
    display: flex;
}
.section6 .wrap .infoTab li{
    font-weight: bolder;
    font-size: 18px;
    margin-left: 14px;
    margin-bottom: 10px;
}
.section6 .wrap .infoTab li button{
    font-weight: bolder;
    font-size: 18px;
    color: #d9d9d9;
    font-family: 'NanumSquareNeo';
}
.section6 .wrap .infoTab li button:nth-child(1){
    margin-left: 0;
    color:#000;
}
.section6 .wrap .infoTab li:nth-child(2) button,
.section6 .wrap .infoTab li:nth-child(3) button{
    color: #d9d9d9;
}
.section6 .wrap .tabTxt1,
.section6 .wrap .tabTxt2,
.section6 .wrap .tabTxt3{
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.section6 .wrap .tabTxt2,
.section6 .wrap .tabTxt3{
    display: none;
}
.section6 .wrap .tabTxt1 li,
.section6 .wrap .tabTxt2 li,
.section6 .wrap .tabTxt3 li{
    border-bottom: 1px solid #000;
    padding: 10px;
}
.section6 .wrap .tabTxt1 li:nth-child(3),
.section6 .wrap .tabTxt2 li:nth-child(3),
.section6 .wrap .tabTxt3 li:nth-child(3){
    border-bottom: 0;
}
.section6 .wrap .tabTxt1 li p:nth-child(2),
.section6 .wrap .tabTxt2 li p:nth-child(2),
.section6 .wrap .tabTxt3 li p:nth-child(2){
    font-weight: bold;
    margin-bottom: 3px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    font-family: 'NanumSquareNeo';
}
.section6 .wrap .tabTxt1 li p:nth-child(2),
.section6 .wrap .tabTxt2 li p:nth-child(2),
.section6 .wrap .tabTxt3 li p:nth-child(2){
    font-size: 16px;
    font-family: 'NanumSquareNeo';
}
.section6 .wrap .section6_right{display: none;}
footer{
    margin-top: 30px;
    padding-top: 30px;
    border-top:  0.5px solid #000;
    padding: 30px 20px;
}
footer .copyright-txt p{
    font-size: 12px;
    font-family: 'NanumSquareNeo';
}
footer .footer_icon{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-right: auto;
    margin: 20px auto;
}
footer .footer_logo a img{
    width: 40%;
}