@media (min-width: 700px) and (max-width:1199px){
    .banner .wrap .con .thumb::after{
        width: 70%;
        position: absolute;    
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .banner .wrap .con .thumb .image img{width: 70%;}
    .banner .wrap .con .thumb .txt{
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 70%;
        transform: translateX(-50%);
    }
    .banner .wrap .con .subInfo{
        width: 70%;
    }.banner .wrap .con .thumb .txt .tit{
        font-size: 26px;
        line-height: 35px;
    }
    .banner .wrap .con .thumb .txt .date{
        font-size: 20px;
    }
} 